/*   font-family: "Karla", sans-serif;
  font-family: "Mulish", sans-serif; */
:root {
  --primary-color: #cdcdcd;
  --secondary-color: #363636;
  --headings-font: "Karla", sans-serif;
  --default-font: "Mulish", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--headings-font);
}

h1 {
  font-size: 66px;
  font-weight: 700;
  line-height: 60px;

  opacity: 0.8;
}

h2 {
  font-size: 36px;
  font-weight: 250;
}

h3 {
  font-family: var(--headings-font);
}

img {
  filter: brightness(98%) contrast(114%) saturate(0%);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.project-description h2 {
  font-weight: 600;
}

.project-description p {
  line-height: 1.5;
  font-weight: 300;
  font-family: var(--default-font);
  padding-top: 30px;
}

.hero p {
  font-family: var(--default-font);
  font-size: 25px;
}

.hero {
  padding: 120px 30px;
  text-align: center;
  background-color: var(--primary-color);
}

.btn-styling-primary {
  background-color: var(--secondary-color);
  color: #e0ebeb;
  padding: 10px 30px;
  font-weight: 200;
  font-size: 18px;
  margin-top: 30px;
  font-family: var(--default-font);
}

.btn-styling-secondary {
  background-color: #f1f5f5;
  color: var(--secondary-color);
  border: solid 1px var(--secondary-color);
  padding: 10px 30px;
  font-weight: 200;
  font-size: 18px;
  margin-top: 30px;
  font-family: var(--default-font);
}

.about-section {
  padding: 120px 30px 120px 120px;
}

.img-me {
  max-width: 75%;
  margin-top: 40px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1;
  }

  h2 {
    font-size: 26px;
  }
  .hero {
    padding: 40px 0;
    width: 100%;
  }

  .project-description {
    text-align: center;
    padding-top: 0;
  }

  .button {
    text-align: center;
  }
  .about-section {
    text-align: center;
    margin-top: 10px;
    padding-top: 40px;
    padding-left: 20px;
  }
  .img-me {
    max-width: 60%;
  }
}
